.row {
    width: 100%;
    background-color: #111111;
    color: #fff;
    padding: 10px;
}
.row h1 {
    font-size: 30px;
    z-index: 1;
}
.titles {
    padding: 10px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 2;
}
.titles::-webkit-scrollbar {
    display: none;
}
.singleTitle {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
    z-index: 9
}
.singleTitle img {
    transition-duration: 300ms;
    z-index: 10;
}
.singleTitle img:hover {
    transform: scale(1.1);
}